<!doctype html>
<html>
<head>
<title>好吃佬</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta name="apple-touch-fullscreen" content="YES">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" href="../../css/global.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/shop.css" type="text/css" media="screen" />

<script src="../../js/jquery-1.11.1.min.js"></script>
<script src="../../js/init.js"></script>
<body>
<div class='page' :id="'skin_'+styleClass" v-cloak>
	<header class="common-header blue-style">
	    <div class="top_fixed">
	        <a class="top_icon go_back mui-action-back" href="javascript:;"></a>
	        <h1 class="top_title">桌台选择</h1>
	    </div>
    </header>
    <!-- <section class='page_info'>
	  请您如实选择当前的桌台或者包厢，以免耽误您的就餐
	</section> -->
	<main>
	  	<div class="floor-tabs" v-if="tableList" v-for="floor in tableList">
		  <h3 class="table_title">{{floor.name}}</h3>
		  <div class="table_list">
		  	<ul v-if="floor.dinnerTableList">
		  		<li class="items" :class="{'active':tableName==table.no}" v-for="table in floor.dinnerTableList" @click="chooseTable(floor.name,table.no)">
		  			<p>{{table.no}}</p>
		  		</li>
		  	</ul>
		  </div>
	  	</div>
	</main>
</div>
		
<!-- 页面调用公共插件 -->		
<script src="../../js/mui.min.js"></script>
<script src="../../js/base.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/vue.js"></script>
<script>
/*	$(function () {
//		获取选中值
		var backTableNo = obtain('tableName');
		$('.items').each(function (i,v) {
			if(backTableNo == $(v).find('p').text() ) {
				$(v).addClass('active');
				return false;  
			}
		});
		
		$(document).on('click', '.items', function () {
			$('.items.active').removeClass('active');
			$(this).addClass('active');
			var tableNo = $(this).find('p').text(); //桌位号
			var tableTitle = $(this).parents('.floor-tabs').find('.table_title').text(); //桌位名称 
			storage('tableName',tableNo,7);
			storage('tableTitle',tableTitle,7);
			window.location.href = 'confirmOrder.html';
		});
	});*/

    var vm = new Vue({
        el:".page",
        data:{
            styleClass:'',  // 换肤颜色
            tableName:'',//选择的桌台号
            tableList:[],//桌台列表

        },
        mounted: function(){
            var that = this;
            // 获取商户皮肤值
            var styleClass = obtain("styleClass");
            // 设置页面皮肤值
            that.styleClass = styleClass;
			// 获取桌台号
            var tableName = sessionObtain('tableName');
            that.tableName = tableName;

            // 获取桌台列表
            var vendorUuid = obtain('vendorUuid');
            PostData("/dinnertable/dinnerTableList/" + vendorUuid,'', function (res) {
                if (1 == res.returnCode){
                    that.tableList = res.returnMessage;
                }
            })


        },
        computed: {

        },
        methods: {
            //选择台桌号
            chooseTable:function (floorName,tableNo) {
                var that = this;
				that.tableName = tableNo;
                session('floorName', floorName);
                session('tableName', tableNo);
                window.location.href = "confirmOrder.html";
            }
        }
    });
</script>
	</body>
</html>
